body {
    display: block;
    width: 100%;
    height: 100%;
    background-color:#20202088;
}
div {
    position: relative;
    display: block;
}
.hellobox{
    position: absolute;
    width: 500px;
    height: 200px;
    line-height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -100px;
}

h1 {
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    color:#FFFFFF;
}

.container{
    float:left;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #c93130;
}

.button{
    display: block;
    padding: 10px;
    margin: 10px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    background-color: #aaaaaa;
}

.label_title{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
}

.label_result{
    display: block;
    padding: 10px;
    margin: 10px;
    width: 180px;
    height: 100px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
}

.input_box{
    display: block;
    margin:10px;
    width: 150px;
    height: 30px;
}