body {
    width: 100%;
    height: 100%;
    background-color:#20202088;
}
div {
    position:absolute;
    height:100%;
    width:100%;
    display: table;
}
h1 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color:#FFFFFF;
}
.button{
    display: block;
    left : 230px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #000000;
    background-color: #aaaaaa;
}

.label{
    display: block;
    padding: 10px;
    margin: 10px;
    width : 200px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
}